@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$dark-green: #0B3D2C;
$light-green: #0C5139;

.bg-gradient {
    @apply bg-gradient-to-r from-dark-green to-light-green;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,
h2 {
    font-family: "Moon Dance", cursive;
    color: #FFD700;
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
    font-weight: bold;
}

h4 {
    color: grey;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-item p {
    margin: 0;
    white-space: nowrap;
  }
  
  .menu-item::after {
    content: '';
    flex-grow: 1;
    margin: 0 10px;
    border-bottom: 1px dotted #000;
    position: relative;
    top: 0.5em;
  }

@media (min-width: 1024px) {
    .hamburger-menu {
        display: none;
    }
    #navbarNav {
        height: auto !important;
        opacity: 1;
        display: block !important;
    }

    .nav-item {
        display: inline-block;
    }

    .nav-link {
        padding: 0.5rem 1rem;
    }
}